.ecosystem {
  &__title {
    color: $color-green;
    margin-bottom: 80px;

    @include md {
      margin-bottom: 40px;
    }

    @include custom(385) {
      font-size: 9vw;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 0 90px;

    @include lg {
      flex-direction: column;
      text-align: center;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 70px;
      }
    }

    &_reverse {
      flex-direction: row-reverse;

      @include lg {
        flex-direction: column;
      }
    }
  }

  &__col {
    flex: 1;

    &:first-child {
      @include lg {
        order: 1;
      }
    }

    &.text-right {
      @include lg {
        text-align: center;
      }
    }
  }

  &__content {
    color: $color-white;
  }

  &__content-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32px;
  }

  &__content-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  &__content-button {
    padding: 24px 48px;
    font-size: 16px;
    line-height: 19px;
  }

  &__img-wrapper {
    @include sm {
      max-width: 320px;
      margin-bottom: 30px;
    }
  }

  &__img {
    &_third {
      position: relative;
      right: -50px;

      @include lg {
        right: unset;
      }
    }
  }
}