.header {
  box-shadow: 0 4px 48px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
  z-index: 99;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .navbar {
      padding: 12px 0;
    }

    .logo__link svg {
      max-width: 100px;
    }
  }
}

nav {
  background-color: #1C1C1C;
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: 0.2s ease;
}

.logo {
  &__link {
    display: inline-block;

    svg {
      max-width: 100%;
      transition: 0.15s ease-out;
    }

    path {
      transition: 0.15s ease-out;
    }

    &:hover {
      path {
        fill: $color-white;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  // .menu__item
  &__item {
    margin-left: 50px;

    @include xl {
      margin-left: 19px;
    }

    @include lg {
      margin-left: 0;
    }

    &:first-child {
      margin-left: 0;

      @include lg {
        margin-bottom: 15px;
      }
    }
  }

  // .menu__item-link
  &__item-link {
    color: $color-white;
    transition: 0.2s ease-out;
    text-transform: uppercase;
    line-height: 18px;
    padding: 16px 0;

    @include lg {
      display: block;
    }

    @media (min-width: 992px) {
      &:hover {
        color: $color-green;
      }
    }

    &.button_primary {
      color: $color-dark;
      padding: 16px 48px;
    }
  }
}


.dropdown {
  @media (min-width: 992px) {
    &:hover {
      .dropdown__menu {
        opacity: 1;
        visibility: visible;
        transform: translate(-50px, 0);
      }

      .dropdown__toggle {
        color: $color-green;
      }

      .dropdown__arrow-down {
        transform: rotate(180deg);

        path {
          fill: $color-green;
        }
      }
    }
  }

  &.opened {
    .dropdown__menu {
      position: relative;
      transform: translate(0, 0);
      opacity: 1;
      visibility: visible;
      max-height: 212px;
      padding: 10px 24px;
    }

    .menu__item-link {
      color: $color-green;
    }

    .dropdown__arrow-down {
      transform: rotate(180deg);

      path {
        fill: $color-green;
      }
    }
  }

  &__toggle {
    position: relative;
    display: flex;
    align-items: center;

    @include lg {
      justify-content: center;
    }
  }

  &__arrow-down {
    right: -5px;
    top: 0;
    margin-left: 5px;
    transition: 0.2s ease-out;
  }

  &__menu {
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    transform: translate(-50px, 10px);
    position: absolute;
    background-color: $color-dark;
    min-width: 160px;
    padding: 10px 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
    z-index: 10;

    @include lg {
      position: relative;
      padding: 0;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
  }

  &__menu-link {
    color: $color-white;
    text-transform: uppercase;
    padding: 16px 0;
    transition: 0.15s ease-out;

    @include lg {
      font-size: 14px;
    }

    &:hover {
      color: $color-green;
    }

    &:active,
    &:focus {
      color: $color-white;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  // .menu
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 22;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: 0.2s ease-out;
        top: 6px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 9px;
        transition: 0.2s ease-out;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 5px;
      border-radius: 10px;
      width: 100%;
      background: $burgerColor;
      transition: 0.2s ease-out;
    }

    &:before {
      top: -1px;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 7px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 5px;
      border-radius: 10px;
      transform: scale(1);
      transition: 0.2s ease-out;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 10px;
  }

  // .menu__link
  .menu__item-link {
    color: white;
  }
}
