.market {
  padding: 160px 0;
  background: $color-white;

  @include lg {
    padding: 80px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include lg {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;
    padding: 40px 24px 60px;

    &:nth-child(1) {
      background: $color-dark url("../img/market-bg-1.png") center no-repeat;
      background-size: initial;
    }

    &:nth-child(2) {
      background: $color-green url("../img/market-bg-2.png") center no-repeat;
      background-size: initial;
    }

    &:nth-child(3) {
      background: $color-dark url("../img/market-bg-3.png") center no-repeat;
      background-size: initial;
    }

    &_dark {
      background-color: $color-dark;

      .market__item-title {
        color: $color-green;
      }
    }

    &_green {
      background-color: $color-green;
    }
  }

  &__item-header {
    margin-bottom: 30px;
  }

  &__item-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;

    @include sm {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__item-quotes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
    margin-bottom: 48px;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: rgba(28, 28, 28, 0.7);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  text-align: center;
  transition: 0.15s ease-in-out;

  &:hover {
    background: $color-green;

    .quote__name,
    .quote__price {
      color: $color-dark;
    }

    .quote__dynamic_up {
      color: #7D7D7D;

      &::after {
        content: url("../img/arrow-up-grey.svg");
      }
    }

    .quote__img {
      path {
        &:first-child {
          stroke: $color-dark;
        }
        &:last-child {
          fill: $color-dark;
        }
      }
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 8px;

    @include sm {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: $color-green;
    margin-bottom: 8px;

    @include sm {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__dynamic {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 8px;
    margin-left: 11px;

    @include sm {
      font-size: 12px;
      line-height: 15px;
    }

    &_up {
      color: $color-green;
    }

    &_down {
      color: #EA6161;

      &::after {
        position: absolute;
        content: url("../img/arrow-down-red.svg");
        left: -12px;
        top: 0;
        font-size: 16px;
      }
    }

    &_up {
      color: $color-green;

      &::after {
        position: absolute;
        content: url("../img/arrow-up-green.svg");
        left: -12px;
        top: 0;
        font-size: 16px;
      }
    }
  }

  &__img {
    @include sm {
      width: 100%;
      height: auto;
    }
  }
}

.news {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 22px;
  background: rgba(28, 28, 28, 0.5);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: $color-white;

  &:hover {
    .news__text,
    .news__time {
      color: $color-green;
    }

    .news__icon {
      path {
        stroke: $color-green;
      }
    }
  }

  &__icon path,
  &__text,
  &__time {
    transition: 0.15s ease-out;
  }

  &__icon {
    @include sm {
      width: 19px;
      height: 19px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include lg {
      flex: 1;
    }

    @include sm {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__time {
    min-width: 32px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
  }
}