.mission {
  padding: 30px 0;
  overflow: hidden;

  &__row {
    display: flex;
    align-items: center;

    @include md {
      flex-direction: column;
    }
  }

  &__col {
    flex: 1;
  }

  &__title {
    color: $color-white;
    font-weight: 400;
    font-size: 42px;
    line-height: 49px;
    text-transform: uppercase;

    @include lg {
      font-size: 34px;
      line-height: 39px;
    }

    @include md {
      margin-bottom: 20px;
    }

    @include custom(375) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__subtitle {
    max-width: 510px;
    color: $color-green;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 16px;

    @include lg {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__img-wrapper {
    text-align: right;
  }

  &__info {
    max-width: 924px;
    margin: 32px auto 0;
  }

  &__info-text {
    color: $color-green;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    @include lg {
      font-size: 14px;
      line-height: 16px;
    }
  }
}