.stages {
  background-color: $color-white;

  &__title {
    margin-bottom: 60px;

    @include sm {
      margin-bottom: 40px;
    }

    @include custom(375) {
      font-size: 32px;
    }
  }

  &__list {
    max-width: 700px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;

    @include sm {
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:first-child {
      .stages__item-text {
        max-width: 520px;
      }
    }
  }

  &__item-square {
    position: relative;
    margin-right: 20px;
    min-width: 110px;
    min-height: 110px;
    background-color: $color-green;
    border-radius: 28.5714px;
    overflow: hidden;
  }

  &__item-number {
    position: absolute;
    top: -49px;
    right: -11px;
    font-weight: 700;
    font-size: 171.429px;
    line-height: 198px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  &__item-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    @include sm {
      font-size: 24px;
      line-height: 28px;
      word-break: break-word;
    }

    @include custom(375) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}